/* Home page header style */
.header-panel {
  background-color: #007eff !important;
  width: 100%;
}

.header-big-text {
  color: white;
  text-align: center;
  padding-top: 265px;
  padding-bottom: 85px;
}

.header-big-text .header-title {
  font-size: 45px;
}

.header-home {
  height: 75%;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/static/img/header-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header-blog {
  height: 40%;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/static/img/header-blog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header-projects {
  height: 40%;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/static/img/header-collab.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header-default {
  height: 40%;
  background: linear-gradient(220deg , rgba(0, 255, 220, 0.5) 0%,  rgb(5, 129, 255) 100%), url(/static/img/header-default.png);
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.tp-header {
  padding-top: 200px;
}

/*--- FORK ME ON GITHUB ----*/
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}


input::-webkit-input-placeholder {
  color: #ffffff !important;
  font-style: italic;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff !important;
  font-style: italic;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff !important;
  font-style: italic;
}
input:-ms-input-placeholder {
  color: #ffffff !important;
  font-style: italic;
}

/* Bootstrap custom css */
.vertical-align {
  display: flex;
  align-items: center;
}

.well {
  padding: 30px;
  margin: 0px;
  box-shadow: none;
}

/* Default style */
.main.outer {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.full {
  font-size: 16px;
  padding-top: 5px;
}

.logo-img {
  /*width: 56px;
    height: 56px;
    border-radius: 60px;*/
  width: 250px;
  margin: 0 auto;
}
.logo-turner {
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 2px;
}
.row-content {
  vertical-align: top;
}
.row-picture {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.row-details {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
p.info {
  color: #fff;
}
p.info a {
  color: #fff;
  text-decoration: underline;
}
.full ul,
.full ol {
  margin-left: 15px;
}
.full img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 200px;
  margin-bottom: 15px;
}
.social-icons {
  margin: 30px;
}
.icon {
  /*background: rgba(255, 255, 255, 0.63);*/
  border-radius: 100%;
  text-align: center;
  line-height: 10px;
  font-size: 30px;
  /*color: #2196f3;*/
  color: #ffffff;
  /*padding: 5px;*/
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
}
.icon:hover {
  color: rgba(255, 255, 255, 0.63);
  background: rgba(255, 255, 255, 0);
}
.menu ul li {
  list-style: none;
}

.sidebar-item {
  padding: 0px;
}

.menu ul li a:hover,
.menu ul li a:focus,
li.current-menu-item > a {
  background: #0769ce75;
}

li.current-menu-item:before {
  content: "";
  display: inline-block;
  height: 56px;
  width: 5px;
  position: absolute;
  vertical-align: middle;
  background: #ffffff;
}
.menu ul li a {
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: 0 0 0 10px;
  color: #fff;
}
.home-subtitle {
  font-size: 26px;
  margin-bottom: 32px;
  margin-top: 5px;
  color: #01c87b;
  font-weight: 300;
}
h2.blog-title-pro {
  color: #fff;
}
h2.blog-title-pro:after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  margin-top: 16px;
  margin-left: 3px;
  background: rgba(255, 255, 255, 0.72);
}
span.tags {
  margin: 0 2px;
  cursor: pointer;
  display: inline-block;
}
.card .card-image .card-image-headline-custom {
  position: absolute;
  margin-bottom: 0;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px 0 12px;
  color: #fff;
  font-size: 2em;
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 83%,
    rgba(0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 83%,
    rgba(0, 0, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 83%,
    rgb(0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.card .card-footer a {
  margin: 0 !important;
  position: relative;
  bottom: 25px;
  width: auto;
}
#filters {
  margin: 0 0 25px 0;
}
.list-separator li > a i {
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
}
.error {
  color: #ef7272 !important;
  font-size: 12px !important;
}
#portfolio-filter {
  margin-top: 50px;
}
.navbar-toggle i {
  color: #ffffff;
}
.menu .list-group-item-heading,
.menu .list-group-item-text {
  color: #fff !important;
}

footer {
  padding: 10px;
  color: #444444;
  font-size: 11px;
  bottom: 0;
  text-align: center;
}

.pager li.active a {
  background: rgba(89, 148, 129, 0.3);
}
/** Search input **/
.searchcontrol {
  margin-top: 35px;
  margin-bottom: 0;
}
.searchcontrol input[type="text"] {
  color: #fff;
}
.searchcontrol input[type="text"]:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

/** Search result dropdown **/
.search__results {
  display: block;
  background: #fff;
  list-style: none;
  padding: 0;
  transition: 0.2s ease;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  border: 0;
  z-index: 999;
}
.search__results.is-hidden {
  opacity: 0;
  transform: translateY(-1vh);
  display: none;
}
.search__results > li {
  border-top: 1px solid #f0f0f0;
  padding: 10px 0;
}
.search__results > li > a {
  padding: 10px;
}
.search__result-date {
  font-size: 12px;
  color: #bbb;
  position: absolute;
  right: 12px;
}

/* --- UTIL ---- */

.fill-parent {
  min-height: 100%;
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0px;
}

.fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

.auto-width {
  width: auto;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border-radius: 0px !important;
  border: none !important;
}


.site-footer {
  background: #f3f3f3;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}


.join-us-title {
  font-weight: normal;
  padding-bottom: 10px;
}

/* -------  MEDIA QUERIES ------ */
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .fill-height {
    height: auto !important;
  }

  .fill-width {
    width: auto !important;
  }

}

@media (max-width: 768px) {

  .header-big-text {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .social-icons .icon {
    font-size: 25px;
  }

  h2.blog-title-pro {
    font-size: 25px;
  }

  .header-big-text .header-title {
    font-size: 30px;
  }

  .social-icons {
    margin: 0px !important;
    padding: 10px 5px;
  }

  .tp-header {
    padding-top: 0px;
  }

  #portfolio-filter {
    margin-top: 0px;
  }
  .fill-height {
    height: auto !important;
  }
}

@media (min-width: 922px) {
  [class*="col-"] {
    display: table-cell;
    vertical-align: top;
  }

  .navbar-collapse.collapse {
    height: 100% !important;
  }
}

